.p-Home.Div9 {
box-sizing: content-box;
align-self: center;
padding-right: 70px;
padding-left: 70px;
margin-bottom: 20px;
padding-bottom: 20px;
overflow: hidden;
}
.p-Home.Flex4 {
display: flex;
box-sizing: content-box;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 20px;
padding-left: ;
width: 100%;
max-width: px;
align-content: flex-start;
align-items: center;
}
.p-Home.Flex5 {
display: flex;
width: ;
justify-content: space-between;
}
.p-Home.Flex31 {
display: flex;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
padding-bottom: 20px;
width: ;
align-items: stretch;
justify-content: space-around;
row-gap: 60px;
}
.p-Home.Flex10 {
display: flex;
justify-content: flex-start;
align-self: center;
outline-width: 2px;
outline-style: solid;
padding-left: 0px;
padding-right: 0px;
min-width: ;
max-width: ;
outline-color: transparent;
width: ;
padding-bottom: ;
}
.p-Home.Flex12 {
display: flex;
flex-direction: column;
column-gap: 8px;
padding-top: 60px;
margin-left: 0px;
padding-left: 0px;
max-width: 50vw;
}
.p-Home.Flex13 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-Home.Flex14 {
display: flex;
justify-content: space-around;
align-items: center;
}
.p-Home.Flex15 {
display: flex;
justify-content: space-between;
margin-top: ;
margin-bottom: ;
column-gap: 60px;
}
.p-Home.Flex23 {
display: flex;
flex-direction: column;
max-width: 33%;
row-gap: 10px;
}
.p-Home.Flex32 {
display: flex;
flex-direction: column;
row-gap: 7px;
}
.p-Home.Flex34 {
display: flex;
flex-direction: column;
max-width: 33%;
row-gap: 10px;
}
.p-Home.Flex33 {
display: flex;
flex-direction: column;
row-gap: 7px;
}
.p-Home.Flex36 {
display: flex;
flex-direction: column;
max-width: 33%;
row-gap: 10px;
margin-right: ;
}
.p-Home.Flex35 {
display: flex;
flex-direction: column;
row-gap: 7px;
}
.p-Home.Flex37 {
display: flex;
justify-content: space-between;
}
.p-Home.Div24 {
align-self: center;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column;
}
.p-Home.Div25 {
;
}
.p-Home.Div36 {
;
}
.p-Home.Div32 {
position: relative;
background-color: #000000;
margin-top: 100px;
padding-top: ;
margin-bottom: 10px;
overflow: visible;
}
.p-Home.Flex44 {
display: flex;
position: relative;
bottom: 100px;
column-gap: 20px;
z-index: 10;
flex-shrink: 0;
overflow: auto;
max-width: ;
width: ;
padding-left: 350px;
margin-left: ;
box-sizing: content-box;
align-self: auto;
flex-direction: row;
margin-bottom: ;
padding-bottom: 50px;
}
.p-Home.Flex285 {
display: flex;
flex-direction: column;
background-color: #ffffff;
}
.p-Home.Flex286 {
display: flex;
flex-direction: column;
padding-left: 20px;
}
.p-Home.Flex302 {
display: flex;
flex-direction: column;
background-color: #ffffff;
}
.p-Home.Flex301 {
display: flex;
flex-direction: column;
padding-left: 20px;
}
.p-Home.Flex304 {
display: flex;
flex-direction: column;
background-color: #ffffff;
}
.p-Home.Flex303 {
display: flex;
flex-direction: column;
padding-left: 20px;
}
.p-Home.Flex312 {
display: flex;
flex-direction: column;
background-color: #ffffff;
}
.p-Home.Flex311 {
display: flex;
flex-direction: column;
padding-left: 20px;
padding-bottom: 20px;
}
.p-Home.Flex45 {
display: flex;
padding-left: 70px;
padding-right: 70px;
justify-content: space-between;
position: relative;
top: 1px;
margin-bottom: ;
padding-bottom: ;
}
.p-Home.Div37 {
position: relative;
border-radius: 2px;
border-color: #f7f0f0;
top: 0;
z-index: 2;
background-attachment: local;
}
.p-Home.Div49 {
position: sticky;
top: 0;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
max-width: 50%;
}
.p-Home.Div40 {
border-bottom-color: #c8c6c6;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
}
.p-Home.Div42 {
border-bottom-color: #c8c6c6;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
margin-top: 1px;
}
.p-Home.Div43 {
border-bottom-color: #c8c6c6;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
}
.p-Home.Div44 {
border-bottom-color: #c8c6c6;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
}
.p-Home.Flex48 {
display: flex;
padding-left: 70px;
padding-right: 70px;
flex-direction: column;
column-gap: ;
padding-bottom: 20px;
row-gap: 60px;
padding-top: 60px;
border-bottom-color: #959594;
margin-bottom: 100px;
}
.p-Home.Flex51 {
display: flex;
justify-content: space-between;
width: 100%;
}
.p-Home.Flex54 {
display: flex;
flex-direction: column;
}
.p-Home.Div56 {
;
}
.p-Home.Flex55 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex56 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Flex82 {
display: flex;
margin-top: 30px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex81 {
display: flex;
justify-content: space-between;
}
.p-Home.Div74 {
;
}
.p-Home.Div75 {
;
}
.p-Home.Div76 {
border-bottom-color: #c8c6c6ff;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
}
.p-Home.Flex80 {
display: flex;
justify-content: space-between;
margin-top: 5px;
}
.p-Home.Flex210 {
display: flex;
margin-top: 30px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div182 {
border-bottom-color: #c8c6c6;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
}
.p-Home.Flex208 {
display: flex;
justify-content: space-between;
margin-top: 5px;
}
.p-Home.Flex209 {
display: flex;
justify-content: space-between;
}
.p-Home.Div180 {
;
}
.p-Home.Div181 {
;
}
.p-Home.Flex272 {
display: flex;
margin-top: 30px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex271 {
display: flex;
justify-content: space-between;
}
.p-Home.Div214 {
;
}
.p-Home.Div215 {
;
}
.p-Home.Div216 {
border-bottom-color: #c8c6c6;
border-color: ;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: solid;
padding-bottom: 5px;
}
.p-Home.Flex270 {
display: flex;
justify-content: space-between;
margin-top: 5px;
}
.p-Home.Flex104 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Flex102 {
display: flex;
margin-top: 30px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex179 {
display: flex;
justify-content: space-between;
border-bottom-width: 2px;
border-bottom-color: #959594ff;
border-width: 2px;
border-style: none;
border-bottom-style: solid;
border-color: #c8c6c6ff;
align-items: center;
}
.p-Home.Flex177 {
display: flex;
margin-top: ;
flex-direction: column;
row-gap: 20px;
justify-content: flex-start;
width: 100%;
margin-left: 10px;
}
.p-Home.Div156 {
border-bottom-color: #c8c6c6;
border-color: transparent;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: none;
padding-bottom: ;
}
.p-Home.Flex175 {
display: flex;
justify-content: space-between;
margin-top: ;
padding-bottom: 10px;
}
.p-Home.Flex176 {
display: flex;
justify-content: space-between;
}
.p-Home.Div154 {
;
}
.p-Home.Div155 {
;
}
.p-Home.Flex280 {
display: flex;
justify-content: space-between;
border-bottom-width: 2px;
border-bottom-color: #c8c6c6ff;
border-width: 2px;
border-style: none;
border-bottom-style: solid;
border-color: #c8c6c6ff;
margin-top: 30px;
margin-bottom: 30px;
align-items: center;
}
.p-Home.Flex279 {
display: flex;
margin-top: ;
flex-direction: column;
row-gap: 20px;
justify-content: flex-start;
width: 100%;
margin-left: 10px;
}
.p-Home.Flex278 {
display: flex;
justify-content: space-between;
}
.p-Home.Div220 {
;
}
.p-Home.Div221 {
;
}
.p-Home.Div222 {
border-bottom-color: #c8c6c6;
border-color: transparent;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: none;
padding-bottom: ;
}
.p-Home.Flex277 {
display: flex;
justify-content: space-between;
margin-top: ;
padding-bottom: 10px;
}
.p-Home.Flex284 {
display: flex;
justify-content: space-between;
border-bottom-width: 2px;
border-bottom-color: #c8c6c6ff;
border-width: 2px;
border-style: none;
border-bottom-style: solid;
border-color: #c8c6c6ff;
align-items: center;
}
.p-Home.Flex283 {
display: flex;
margin-top: ;
flex-direction: column;
row-gap: 20px;
justify-content: flex-start;
width: 100%;
margin-left: 10px;
}
.p-Home.Flex282 {
display: flex;
justify-content: space-between;
}
.p-Home.Div223 {
;
}
.p-Home.Div224 {
;
}
.p-Home.Div225 {
border-bottom-color: #c8c6c6;
border-color: transparent;
border-bottom-right-radius: ;
border-bottom-width: 2px;
border-width: ;
border-style: none;
border-bottom-style: none;
padding-bottom: ;
}
.p-Home.Flex281 {
display: flex;
justify-content: space-between;
margin-top: ;
padding-bottom: 10px;
}
.p-Home.Div185 {
;
}
.p-Home.Flex218 {
display: flex;
justify-content: space-between;
width: 100%;
}
.p-Home.Flex217 {
display: flex;
flex-direction: column;
}
.p-Home.Div187 {
;
}
.p-Home.Flex219 {
display: flex;
justify-content: space-between;
column-gap: 30px;
}
.p-Home.Flex220 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex221 {
display: flex;
height: 100%;
width: ;
min-width: ;
max-width: ;
flex-direction: column;
justify-content: space-around;
padding-bottom: 20px;
}
.p-Home.Flex222 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex224 {
display: flex;
padding-right: ;
margin-right: 5px;
flex-direction: column;
row-gap: 2px;
}
.p-Home.Flex227 {
display: flex;
align-items: flex-end;
}
.p-Home.Flex229 {
display: flex;
padding-left: 70px;
padding-right: 70px;
padding-top: 50px;
padding-bottom: 25px;
background-color: #000000;
flex-direction: column;
row-gap: 60px;
}
.p-Home.Flex230 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex256 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex257 {
display: flex;
width: 50%;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex259 {
display: flex;
width: 50%;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex260 {
display: flex;
flex-direction: column;
row-gap: 60px;
padding-bottom: 0px;
margin-top: 60px;
}
.p-Home.Div212 {
margin-top: ;
}
.p-Home.Flex261 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex262 {
display: flex;
flex-direction: column;
row-gap: 10px;
padding-bottom: ;
}
.p-Home.Flex264 {
display: flex;
}
.p-Home.Flex263 {
display: flex;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex265 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex266 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex267 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex268 {
display: flex;
align-items: center;
}
.p-Home.Image1 {
;
}
.p-Home.Button5 {
color: #000000;
background-color: transparent;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button8 {
color: #000000;
background-color: transparent;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button9 {
color: #000000;
background-color: transparent;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button10 {
color: #000000;
background-color: transparent;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button11 {
color: #000000;
background-color: transparent;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.TextBox14 {
text-align: center;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
box-sizing: content-box;
width: ch;
min-width: ch;
max-width: ch;
background-clip: border-box;
-webkit-background-clip: border-box;
margin-top: ;
margin-bottom: ;
}
.p-Home.TextBox15 {
font-family: IBM Plex Sans;
font-weight: 600;
text-align: center;
margin-top: ;
padding-bottom: ;
margin-bottom: ;
}
.p-Home.TextBox16 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
width: 75%;
text-align: center;
}
.p-Home.Image3 {
margin-right: ;
max-width: 45%;
}
.p-Home.TextBox7 {
font-size: 55px;
font-family: IBM Plex Sans;
font-weight: 700;
background-image: ;
color: #000000;
margin-top: 0px;
max-width: ;
}
.p-Home.TextBox13 {
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
background-image: ;
color: #666666;
margin-top: 20px;
margin-bottom: 20px;
max-width: 40vw;
width: ;
}
.p-Home.TextBox275 {
font-size: 55px;
font-family: IBM Plex Sans;
font-weight: 700;
background-image: ;
color: #000000;
margin-top: 0px;
max-width: ;
}
.p-Home.TextBox276 {
font-size: 55px;
font-family: IBM Plex Sans;
font-weight: 700;
background-image: ;
color: #000000;
margin-top: 0px;
max-width: ;
}
.p-Home.Button12 {
color: #fbfbfb;
background-color: #151515;
padding-top: 12px;
padding-left: 15px;
padding-bottom: 12px;
padding-right: 15px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
top: 4px;
bottom: 4px;
font-family: IBM Plex Sans;
}
.p-Home.Button13 {
color: #340000;
background-color: transparent;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Image6 {
height: 5%;
width: 20%;
}
.p-Home.Image7 {
width: 20%;
height: 5%;
}
.p-Home.Image8 {
height: 5%;
width: 20%;
}
.p-Home.Image9 {
height: 5%;
width: 20%;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 15px;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.Image11 {
width: 30%;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 700;
margin-right: 0px;
}
.p-Home.TextBox29 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox30 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image14 {
width: 25%;
}
.p-Home.TextBox34 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 15px;
}
.p-Home.TextBox31 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox32 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 700;
margin-right: 0px;
}
.p-Home.Image15 {
width: 25%;
}
.p-Home.TextBox39 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.TextBox40 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 15px;
}
.p-Home.TextBox36 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox37 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox38 {
font-family: IBM Plex Sans;
font-weight: 700;
margin-right: 0px;
}
.p-Home.Button15 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.TextBox41 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-right: 0px;
}
.p-Home.TextBox43 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 55px;
max-height: %;
width: ;
}
.p-Home.TextBox44 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 55px;
max-height: %;
width: ;
margin-left: ;
margin-right: ;
}
.p-Home.Image114 {
width: ;
height: ;
margin-bottom: 10px;
}
.p-Home.TextBox291 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
margin-top: ;
}
.p-Home.TextBox293 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
font-size: 35px;
}
.p-Home.Button74 {
color: #000000;
background-color: transparent;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
background-clip: border-box;
-webkit-background-clip: border-box;
align-self: flex-start;
}
.p-Home.Image122 {
width: ;
height: ;
margin-bottom: 10px;
}
.p-Home.Button82 {
color: #000000;
background-color: transparent;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
background-clip: border-box;
-webkit-background-clip: border-box;
align-self: flex-start;
}
.p-Home.TextBox309 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
font-size: 35px;
}
.p-Home.TextBox310 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
margin-top: ;
}
.p-Home.Image123 {
width: ;
height: ;
margin-bottom: 10px;
}
.p-Home.Button83 {
color: #000000;
background-color: transparent;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
background-clip: border-box;
-webkit-background-clip: border-box;
align-self: flex-start;
}
.p-Home.TextBox311 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
font-size: 35px;
}
.p-Home.TextBox312 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
margin-top: ;
}
.p-Home.Image127 {
width: ;
height: ;
margin-bottom: 10px;
}
.p-Home.Button87 {
color: #000000;
background-color: transparent;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
background-clip: border-box;
-webkit-background-clip: border-box;
align-self: flex-start;
}
.p-Home.TextBox319 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
font-size: 35px;
}
.p-Home.TextBox320 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: ;
margin-top: ;
}
.p-Home.TextBox45 {
font-family: IBM Plex Sans;
font-weight: 600;
color: #ffffff;
margin-right: 0px;
}
.p-Home.TextBox46 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 55px;
max-height: %;
width: ;
color: #ffffff;
position: relative;
}
.p-Home.Button16 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Button20 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox50 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: 16px;
margin-bottom: 16px;
}
.p-Home.TextBox51 {
color: #a09c9c;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox54 {
color: #a09c9c;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox55 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: 16px;
margin-bottom: 16px;
}
.p-Home.Button22 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox56 {
color: #a09c9c;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox57 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: 16px;
margin-bottom: 16px;
}
.p-Home.Button23 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox58 {
color: #a09c9c;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox59 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: 16px;
margin-bottom: 16px;
}
.p-Home.Button24 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 16px;
border-radius: 0px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox79 {
max-width: 45%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 17px;
color: #6d6d6d;
}
.p-Home.TextBox78 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-right: 5px;
}
.p-Home.TextBox77 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 55px;
max-height: %;
width: ;
}
.p-Home.TextBox80 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 40px;
}
.p-Home.Image37 {
cursor: pointer;
}
.p-Home.TextBox133 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
margin-bottom: ;
}
.p-Home.TextBox134 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox135 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox223 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox224 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox225 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
margin-bottom: ;
}
.p-Home.Image92 {
cursor: pointer;
}
.p-Home.Image106 {
cursor: pointer;
}
.p-Home.TextBox279 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
margin-bottom: ;
}
.p-Home.TextBox280 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox281 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox157 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 40px;
}
.p-Home.Image87 {
width: ;
height: 50%;
}
.p-Home.TextBox202 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox203 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox204 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
margin-bottom: ;
}
.p-Home.Image75 {
cursor: pointer;
}
.p-Home.Image110 {
height: 50%;
}
.p-Home.Image109 {
cursor: pointer;
}
.p-Home.TextBox285 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
margin-bottom: ;
}
.p-Home.TextBox286 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox287 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.Image112 {
height: 50%;
}
.p-Home.Image111 {
cursor: pointer;
}
.p-Home.TextBox288 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
margin-bottom: ;
}
.p-Home.TextBox289 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox290 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #959494;
}
.p-Home.TextBox236 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-right: 5px;
}
.p-Home.TextBox235 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 55px;
max-height: %;
width: ;
}
.p-Home.Image93 {
max-width: 40%;
margin-left: ;
}
.p-Home.Image94 {
width: 15%;
}
.p-Home.TextBox240 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
}
.p-Home.TextBox238 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox239 {
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Button36 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: ;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Button38 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: ;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox243 {
margin-bottom: ;
color: #ffffff;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.TextBox244 {
margin-bottom: ;
color: #ffffff;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Accordion3 {
background-color: transparent;
color: ;
outline-color: ;
border-color: ;
box-sizing: content-box;
}
.p-Home.Accordion5 {
background-color: transparent;
color: ;
outline-color: ;
border-color: ;
box-sizing: content-box;
}
.p-Home.Accordion6 {
background-color: transparent;
color: ;
outline-color: ;
border-color: ;
box-sizing: content-box;
}
.p-Home.Accordion7 {
background-color: transparent;
color: ;
outline-color: ;
border-color: ;
box-sizing: content-box;
}
.p-Home.Accordion8 {
background-color: transparent;
color: ;
outline-color: ;
border-color: ;
box-sizing: content-box;
}
.p-Home.Accordion9 {
background-color: transparent;
color: ;
outline-color: ;
border-color: ;
box-sizing: content-box;
}
.p-Home.TextBox265 {
margin-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
color: #ffffff;
font-size: 45px;
}
.p-Home.TextBox266 {
;
}
.p-Home.Button39 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 45px;
border-radius: 0px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-bottom-color: #f04cf3;
border-bottom-style: solid;
border-bottom-width: 2px;
font-family: IBM Plex Sans;
}
.p-Home.Image104 {
width: 50%;
}
.p-Home.TextBox267 {
font-family: IBM Plex Sans;
font-size: 20px;
color: #c0bebe;
font-weight: 500;
}
.p-Home.Image105 {
;
}
.p-Home.Button40 {
color: #5a5858;
background-color: transparent;
padding-top: 0px;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button41 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button57 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button58 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button47 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button59 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button63 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button50 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button64 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.Button65 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-Home.TextBox268 {
color: #959292ff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 13px;
}
.p-Home.Button66 {
color: #959292ff;
background-color: transparent;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 13px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-left: 5px;
}
.p-Home.TextBox269 {
color: #959292ff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 13px;
margin-left: 5px;
}
.p-Home.Button67 {
color: #959292ff;
background-color: transparent;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 13px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-left: 5px;
}
.p-Home.TextBox271 {
color: #959292ff;
font-family: IBM Plex Sans;
font-weight: 500;
margin-left: 2px;
margin-right: 2px;
font-size: 13px;
}
.p-Home.Button68 {
color: #959292ff;
background-color: transparent;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 13px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-left: 5px;
}
.p-Home.TextBox272 {
color: #959292ff;
font-family: IBM Plex Sans;
font-weight: 500;
margin-left: 2px;
margin-right: 2px;
font-size: 13px;
}
.p-Home.Button70 {
color: #959292ff;
background-color: transparent;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 13px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-left: 5px;
}
.p-Home.TextBox273 {
color: #959292ff;
font-family: IBM Plex Sans;
font-weight: 500;
margin-left: 2px;
margin-right: 2px;
}
.p-Home.Button71 {
color: #959292ff;
background-color: transparent;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 13px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-left: 5px;
}
.p-Home.TextBox274 {
color: #959292ff;
font-family: IBM Plex Sans;
font-weight: 500;
margin-left: 2px;
margin-right: 2px;
}
.p-Home.Button72 {
color: #959292ff;
background-color: transparent;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 13px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-left: 5px;
}
